
body {font-family: cursive;;
color: rgba(255, 255, 255, 0.911);
font-size: 18px;}

/* Style the tab */
.tab2 {
overflow: hidden;
border: 1px solid #1F2833;
background-color: #3f689b;
}

/* Style the buttons inside the tab */
.tab2 button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
background-color: rgba(255, 255, 255, 0.733);
}

/* Create an active/current tablink class */
.tab2 button.active {
background-color: #031327;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #1F2833;
width: 100%;
overflow: hidden;
border-top: none;
background: #1f2833;
}

.tablinks{
    color: aliceblue;
}


