.nav-wrapper {
    background-color: #bc986a; 
  }

  .nav-extended{
    background-color: #a77040;   
  }
  
  body{
  background: rgb(254,209,150);
background: linear-gradient(90deg, rgba(254,209,150,1) 0%, rgba(188,152,106,1) 34%, rgba(167,112,64,1) 100%);
  }

  .brand-logo{
    font-family: 'Courier New', monospace;
  }

    body{
        font-family: "Times New Roman", fantasy;
        font-size: 25px;
    }