.nav-wrapper {
  background-color:#1f2833 ; 
}

.nav-extended{
  background-color: #0b0c10;   
  background-color: #0B0C10; 
}

.nav-extended{
  background-color: #1F2833;   
}

body{
  background-color: #1f2833;
  
}

.brand-logo{
  font-family: 'Courier New', monospace;
}

  body{
      font-family: "Times New Roman", fantasy;
      font-size: 25px;
      color: white;
  }

  #nav_wrap{
    height: 75px;
  }

  #link{
    height: 75px;
  }