.nav-wrapper {
  background-color: #031327; ; 
}

.nav-extended{
  background-color: #0b0c10;   
}

.nav-extended{
  background-color: #1f2848;   
}

body{
  background-color: #1f2833;
  
}

.brand-logo{
  font-family: 'Oswald', sans-serif;
}

  body{
      font-family: 'Oswald', sans-serif;
      font-size: 25px;
      color: white;
  }

  #nav_wrap{
    height: 75px;
  }

  #link{
    height: 75px;
    font-size: 30px;
  }

  #link2{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  }

  .nav-content{
    font-family: 'Oswald', sans-serif;
  }

  .nav-wrapper{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    height: 75px;
  }

  .nav-extended{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
  }

  .modalcontent{
    font-size: 14px;
  }

  .flex{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.sections{
    margin-left: 2%;
    margin-right: 2%;
    word-wrap: break-word;
    width: 300px;
    float: left;
}

.sections:hover{
  cursor:pointer;
}

.page-footer{
  background-color: #031327;
}

#search4{
  border-radius: 25px;
  padding: 0 3.5rem 0 1.5rem;
}

#search2{
  border-radius: 25px;
  padding: 0 3.5rem 0 1.5rem;
}

#web_logo{
  height: 71px;
  padding-top: 2px;
  padding-bottom: 2px;
}

a:hover{
  color: #59D2C3;
}

.sidenav{
  background-color: #1f2833;

}
